/* Estilos generales */
.Fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: #1D3554;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.TextoBonito {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #67a9ff;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-align: center;
    padding: 0 15px;
}

.TextoBonito:hover {
    color: #ff416a;
    text-shadow: 
        6px 6px 2px #000,
        4px 4px 4px #000;
}

.TextoCursiva {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.BottonRedirect {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #ff8692, #ffc684, #87cbff, #86ffa0);
    transition: transform 0.3s ease;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    margin: 20px;
}

.BottonRedirect:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 20px #000;
}

/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    max-width: 80%;
    padding: 10px;
    margin: auto;
    overflow: hidden;
}

.img-size {
    max-width: 15%;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin: 0 15px 10px 10px;
}

/* Carrusel */
.carousel {
    display: flex;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Centrado de botones */
.CenterButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ColButtons {
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Instagram */
.CardInstagram {
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    transform: scale(0.8);
    transform-origin: top center;
}

.InstagramRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    .TextoBonito {
        font-size: 24px;
    }

    .TextoCursiva {
        font-size: 16px;
    }

    .carousel-container {
        max-width: 95%;
    }

    .img-size {
        max-width: 40%;
        margin: 0 5px 5px 5px;
    }

    .CenterButtons {
        flex-direction: column;
    }

    .ColButtons {
        width: 90%;
        margin: 10px;
    }

    .BottonRedirect {
        margin: 10px;
    }

    .CardInstagram {
        transform: scale(1);
        width: 100%;
    }
}